<?xml version="1.0"?>
<!--
/**
 * Aydus_AutoCompleteRecommendations module config
 *
 * @category   Aydus
 * @package    Aydus_AutoCompleteRecommendations
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_AutoCompleteRecommendations>
            <version>0.9.6</version>
        </Aydus_AutoCompleteRecommendations>
    </modules>
    <phpunit>
        <suite>
            <modules>
                <Aydus_AutoCompleteRecommendations />
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <recommendation before="Mage_Adminhtml">Aydus_AutoCompleteRecommendations_Adminhtml</recommendation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <aydus_autocompleterecommendations>
                    <file>aydus/autocompleterecommendations.xml</file>
                </aydus_autocompleterecommendations>
            </updates>
        </layout>
    	<events>
    		<catalogsearch_query_save_after>
                <observers>
                    <aydus_autocompleterecommendations>
                        <class>aydus_autocompleterecommendations/observer</class>
                        <method>saveRecommendations</method>
                    </aydus_autocompleterecommendations>
                </observers>    		
    		</catalogsearch_query_save_after>
    	</events>
    </adminhtml>    
    <frontend>
    	<events>
    		<controller_action_postdispatch_catalogsearch_ajax_suggest>
                <observers>
                    <aydus_autocompleterecommendations>
                        <class>aydus_autocompleterecommendations/observer</class>
                        <method>appendTopRecommendation</method>
                    </aydus_autocompleterecommendations>
                </observers>
    		</controller_action_postdispatch_catalogsearch_ajax_suggest>
    		<controller_action_postdispatch_jeroenvermeulen_solarium_ajax_suggest>
                <observers>
                    <aydus_autocompleterecommendations>
                        <class>aydus_autocompleterecommendations/observer</class>
                        <method>appendTopRecommendation</method>
                    </aydus_autocompleterecommendations>
                </observers>
    		</controller_action_postdispatch_jeroenvermeulen_solarium_ajax_suggest> 		
    	</events>
    </frontend>
    <crontab>
        <jobs>
            <aydus_autocompleterecommendations_generaterecommendations>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aydus_autocompleterecommendations/cron::generateRecommendations</model>
                </run>
            </aydus_autocompleterecommendations_generaterecommendations>
        </jobs>
    </crontab>
    <global>
        <blocks>
            <aydus_autocompleterecommendations>
                <class>Aydus_AutoCompleteRecommendations_Block</class>
            </aydus_autocompleterecommendations>
            <autocompleterecommendations>
                <class>Aydus_AutoCompleteRecommendations_Block</class>
            </autocompleterecommendations>
        </blocks>
        <helpers>
            <aydus_autocompleterecommendations>
                <class>Aydus_AutoCompleteRecommendations_Helper</class>
            </aydus_autocompleterecommendations>
            <autocompleterecommendations>
                <class>Aydus_AutoCompleteRecommendations_Helper</class>
            </autocompleterecommendations>
        </helpers>
        <models>
            <aydus_autocompleterecommendations>
                <class>Aydus_AutoCompleteRecommendations_Model</class>
                <resourceModel>aydus_autocompleterecommendations_resource</resourceModel>
            </aydus_autocompleterecommendations>
            <aydus_autocompleterecommendations_resource>
                <class>Aydus_AutoCompleteRecommendations_Model_Resource</class>
                <entities>
                    <recommendation>
                        <table>aydus_autocompleterecommendations_recommendation</table>
                    </recommendation>
                </entities>
            </aydus_autocompleterecommendations_resource>            
        </models>
        <resources>
            <aydus_autocompleterecommendations_setup>
                <setup>
                    <module>Aydus_AutoCompleteRecommendations</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aydus_autocompleterecommendations_setup>        
        </resources>  
    </global> 
    <default>
    	<catalog>
    		<aydus_autocompleterecommendations>
	    		<enabled>1</enabled>
	    		<label_product_recommendations>Recommended Products</label_product_recommendations>
    			<max_product_recommendations>5</max_product_recommendations>
    			<recommendation_base>sold</recommendation_base>
    			<cron>0</cron>
    			<solr>0</solr>
    			<solr_server_hostname>127.0.0.1</solr_server_hostname>
    			<solr_server_port>8983</solr_server_port>
    			<solr_server_path>solr</solr_server_path>
    		</aydus_autocompleterecommendations>
    	</catalog>
    </default> 
</config>