<?xml version="1.0"?>
<!-- 
/** 
 * AutoCompleteRecommendations system config
 *
 * @category   Aydus
 * @package    Aydus_AutoCompleteRecommendations
 * @author     Aydus <davidt@aydus.com>
 */
-->
<config>
    <sections>
        <catalog>
            <groups>
                <aydus_autocompleterecommendations translate="label" module="aydus_autocompleterecommendations">
                    <label>Auto Complete Recommendations</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>501</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </enabled>   
                        <label_product_recommendations translate="label comment">
                            <label>Product Header</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Header for recommended products in autocomplete box.]]></comment>
                        </label_product_recommendations>                           
                        <max_product_recommendations translate="label comment">
                            <label>Number of Product Recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Maximum number of product recommendations to show.]]></comment>
                        </max_product_recommendations>
                        <recommendation_base translate="label comment">
                            <label>Base Recommendations on</label>
                            <frontend_type>select</frontend_type>
                            <source_model>aydus_autocompleterecommendations/system_config_source_recommendationbase</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Base recommendations on most sold, most ordered or most viewed.]]></comment>
                        </recommendation_base>
                        <recommendation_from translate="label comment">
                            <label>From Date of Recommendations Base</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[From date of recommendations (i.e.  most sold products from 2015-01-01. Leave empty for beginning of this year. Format is Y-m-d).]]></comment>
                        </recommendation_from>                        
                        <recommendation_to translate="label comment">
                            <label>To Date of Recommendations Base</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[To date of recommendations (leave empty for current. Format is Y-m-d).]]></comment>
                        </recommendation_to>                          
                    </fields>
                </aydus_autocompleterecommendations>
            </groups>        
        </catalog>
    </sections>
</config>

